<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">to home page</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>07/09/23</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui magni voluptates natus inventore eius facilis laudantium, atque tempore doloremque accusantium quisquam deserunt blanditiis sunt enim ipsa magnam, optio aliquam cum esse! Libero, facere totam fugiat maxime hic deserunt ab. Sapiente accusantium ipsa ad cumque itaque dolor optio quisquam similique obcaecati.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui magni voluptates natus inventore eius facilis laudantium, atque tempore doloremque accusantium quisquam deserunt blanditiis sunt enim ipsa magnam, optio aliquam cum esse! Libero, facere totam fugiat maxime hic deserunt ab. Sapiente accusantium ipsa ad cumque itaque dolor optio quisquam similique obcaecati.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui magni voluptates natus inventore eius facilis laudantium, atque tempore doloremque accusantium quisquam deserunt blanditiis sunt enim ipsa magnam, optio aliquam cum esse! Libero, facere totam fugiat maxime hic deserunt ab. Sapiente accusantium ipsa ad cumque itaque dolor optio quisquam similique obcaecati.</p>
    </div>
</div>
